# Core
fastapi>=0.109.0
a2wsgi>=1.9.0
python-dotenv>=1.0.0
pydantic>=2.5.3
uvicorn>=0.27.0

# AI & RAG
langchain>=0.1.0
langchain-groq>=0.0.1
langchain-community>=0.0.13
semantic-router>=0.0.25
groq>=0.4.1

# Database
supabase>=2.3.0

# ML 
huggingface-hub>=0.20.0
langchain-huggingface>=0.0.1
